.footer {
    background-color: var(--white);
}

.footer__content {
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: var(--black);
    margin: 0 auto
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 24px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}